# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head(1000)

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941
...,...,...,...,...,...,...,...,...,...,...,...
970,A007,R079,01-06-00,5 AV/59 ST,NQRW,BMT,08/31/2018,10:00:00,REGULAR,3407252,6966474
971,A007,R079,01-06-00,5 AV/59 ST,NQRW,BMT,08/31/2018,14:00:00,REGULAR,3407344,6966709
972,A007,R079,01-06-00,5 AV/59 ST,NQRW,BMT,08/31/2018,18:00:00,REGULAR,3407596,6966918
973,A007,R079,01-06-00,5 AV/59 ST,NQRW,BMT,08/31/2018,22:00:00,REGULAR,3407710,6967002
974,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,02:00:00,REGULAR,118980909,2284449
975,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,06:00:00,REGULAR,118980918,2284459
976,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,10:00:00,REGULAR,118980973,2284664
977,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,14:00:00,REGULAR,118981114,2285286
978,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,18:00:00,REGULAR,118981530,2285872
979,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/25/2018,22:00:00,REGULAR,118981842,2286154
980,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,02:00:00,REGULAR,118981978,2286220
981,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,06:00:00,REGULAR,118981983,2286227
982,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,10:00:00,REGULAR,118982028,2286388
983,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,14:00:00,REGULAR,118982112,2286873
984,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,18:00:00,REGULAR,118982471,2287361
985,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/26/2018,22:00:00,REGULAR,118982753,2287515
986,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,02:00:00,REGULAR,118982832,2287563
987,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,06:00:00,REGULAR,118982835,2287576
988,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,10:00:00,REGULAR,118982907,2288361
989,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,14:00:00,REGULAR,118983077,2288964
990,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,18:00:00,REGULAR,118983706,2289440
991,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/27/2018,22:00:00,REGULAR,118984159,2289618
992,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,02:00:00,REGULAR,118984289,2289651
993,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,06:00:00,REGULAR,118984295,2289667
994,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,10:00:00,REGULAR,118984374,2290529
995,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,14:00:00,REGULAR,118984560,2291083
996,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,18:00:00,REGULAR,118985188,2291456
997,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/28/2018,22:00:00,REGULAR,118985682,2291620
998,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/29/2018,02:00:00,REGULAR,118985830,2291672
999,A007,R079,01-06-01,5 AV/59 ST,NQRW,BMT,08/29/2018,06:00:00,REGULAR,118985834,2291687

In [ ]:
station_vco.head()

In [ ]:
df.head()

In [3]:
df.groupby('STATION')
df.STATION.value_counts()
station_vco=df.STATION.value_counts()
stations_descending_keys = list(station_vco.keys())
stations_value_count_list = list(station_vco)
stations_value_count_list[:5]

[4080, 4019, 2768, 2605, 2401]

In [ ]:
df.loc[:,['STATION']][0:1]

In [12]:
df['STATION'][1]

'59 ST'

In [9]:
station_vco

FULTON ST          4080
34 ST-PENN STA     4019
GRD CNTRL-42 ST    2768
23 ST              2605
CANAL ST           2401
34 ST-HERALD SQ    2311
CHAMBERS ST        2268
59 ST              2229
42 ST-PORT AUTH    2181
TIMES SQ-42 ST     2124
WALL ST            2037
ATL AV-BARCLAY     2011
86 ST              1968
125 ST             1852
14 ST              1803
PATH NEW WTC       1800
59 ST COLUMBUS     1734
CORTLANDT ST       1682
47-50 STS ROCK     1616
14 ST-UNION SQ     1604
161/YANKEE STAD    1587
CHURCH AV          1565
96 ST              1553
JAY ST-METROTEC    1548
METS-WILLETS PT    1548
50 ST              1546
LEXINGTON AV/53    1399
34 ST-HUDSON YD    1260
BOWLING GREEN      1218
FLUSHING-MAIN      1198
                   ...
BAYCHESTER AV       126
VAN SICLEN AVE      126
MORRIS PARK         126
LIBERTY AV          126
YORK ST             126
BOWERY              126
ALABAMA AV          126
225 ST              126
ALLERTON AV         126
NEREID AV           126
BUSHWICK AV         126
HEWES ST            126
AVENUE X            126
NEW LOTS            126
WESTCHESTER SQ      126
PARKSIDE AV         126
BURKE AV            126
AVENUE P            126
CHAUNCEY ST         126
CRESCENT ST         126
CLASSON AV          126
ATLANTIC AV         126
HARLEM 148 ST       126
65 ST               126
55 ST               126
KINGSTON AV         125
KOSCIUSZKO ST       123
182-183 STS         123
SUTTER AV            84
CLEVELAND ST         84
Name: STATION, Length: 373, dtype: int64

In [7]:
df['Num Lines'] = df['STATION'].apply(lambda x: station_vco[x])

In [ ]:
# for x in range(0,len(df)):
#     for y in range(0, len(stations_descending_keys)):
#         #if df.loc[:,['STATION']][x:(x+1)]==stations_descending_keys[y]:
#         if df['STATION'][x]==stations_descending_keys[y]:
#             df['Num Lines'].iloc[x]=stations_value_count_list[y]


#df['Num Lines'] = my_function(df.param1, df.param1.shift(1), df.param2.shift(1))

In [4]:
zero_list = [0]*len(df)
df['Num Lines']=zero_list

In [15]:
df.loc[df['STATION']=='SUTTER AV'].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Num Lines
34355,H037,R349,00-00-00,SUTTER AV,L,BMT,08/25/2018,01:00:00,REGULAR,1112236,1217828,84
34356,H037,R349,00-00-00,SUTTER AV,L,BMT,08/25/2018,05:00:00,REGULAR,1112296,1217967,84
34357,H037,R349,00-00-00,SUTTER AV,L,BMT,08/25/2018,09:00:00,REGULAR,1112575,1218170,84
34358,H037,R349,00-00-00,SUTTER AV,L,BMT,08/25/2018,13:00:00,REGULAR,1112920,1218492,84
34359,H037,R349,00-00-00,SUTTER AV,L,BMT,08/25/2018,17:00:00,REGULAR,1113265,1218981,84

In [ ]:
#df.iloc[1]

In [ ]:
for x in df
    if df.iloc[x]['STATION']==

## Rename all the columns to lower case

In [ ]:
column_list = list(df.columns)

In [ ]:
column_list_lower = [x.lower().strip() for x in column_list]
column_list_lower

In [ ]:
df.columns = [column_list_lower]
df.head()

## Change the Index to be the Line Names

In [ ]:
df2 = df._index('linename')
# df.index[0]
# df.head()

In [ ]:
df2.head()
df2.index[0]

## Painstakingly change the index back

In [ ]:
df2.reset_index()

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order

In [ ]:
#df.columns
#df.reset_index()
#df.groupby(['station'])
#did this above

## Write a function to clean a column name

In [16]:
def clean(col_name):
    cleaned = col_name.lower().title()
    return cleaned

In [18]:
clean('ALKSJDF ALSDJF')

'Alksjdf Alsdjf'

In [19]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [20]:
#Checking the output, we can see the results.
df.columns

Index(['C/A', 'Unit', 'Scp', 'Station', 'Linename', 'Division', 'Date', 'Time',
       'Desc', 'Entries',
       'Exits                                                               ',
       'Num Lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [35]:
df['Date'][:1].iloc[0]

'08/25/2018'

In [32]:
int(list(df['Date'][:1])[0].replace("/", ""))

8252018

In [ ]:
def convert_date(date)
    removed_slash = int(list(x[0].replace("/", ""))
    dt_list = [0,0,0]
    
    for x in range(0,2):
        dt_list[2-x] = (removed_slash[-4]+

In [5]:
#df['Num Lines'] = df['STATION'].apply(lambda x: station_vco[x])
import datetime
from datetime import date
df['DT'] = df['Date'].apply(lambda x: convert_date(x))

In [1]:
from datetime import date
import calendar
my_date = date.today()
calendar.day_name[my_date.weekday()]

'Friday'

In [2]:
my_date

datetime.date(2019, 4, 26)

In [4]:
import datetime

d = datetime.date(2019, 4, 13)
type(d)

datetime.date

In [26]:
df[['Entries','Date']]

        Entries        Date
0       6736067  08/25/2018
1       6736087  08/25/2018
2       6736105  08/25/2018
3       6736180  08/25/2018
4       6736349  08/25/2018
5       6736562  08/25/2018
6       6736683  08/26/2018
7       6736696  08/26/2018
8       6736705  08/26/2018
9       6736746  08/26/2018
10      6736873  08/26/2018
11      6737067  08/26/2018
12      6737136  08/27/2018
13      6737146  08/27/2018
14      6737169  08/27/2018
15      6737301  08/27/2018
16      6737553  08/27/2018
17      6738257  08/27/2018
18      6738430  08/28/2018
19      6738442  08/28/2018
20      6738474  08/28/2018
21      6738621  08/28/2018
22      6738886  08/28/2018
23      6739630  08/28/2018
24      6739804  08/29/2018
25      6739812  08/29/2018
26      6739847  08/29/2018
27      6739986  08/29/2018
28      6740257  08/29/2018
29      6740888  08/29/2018
...         ...         ...
197595     5554  08/27/2018
197596     5554  08/27/2018
197597     5554  08/27/2018
197598     5554  08/27/2018
197599     5554  08/27/2018
197600     5554  08/27/2018
197601     5554  08/28/2018
197602     5554  08/28/2018
197603     5554  08/28/2018
197604     5554  08/28/2018
197605     5554  08/28/2018
197606     5554  08/28/2018
197607     5554  08/29/2018
197608     5554  08/29/2018
197609     5554  08/29/2018
197610     5554  08/29/2018
197611     5554  08/29/2018
197612     5554  08/29/2018
197613     5554  08/30/2018
197614     5554  08/30/2018
197615     5554  08/30/2018
197616     5554  08/30/2018
197617     5554  08/30/2018
197618     5554  08/30/2018
197619     5554  08/31/2018
197620     5554  08/31/2018
197621     5554  08/31/2018
197622     5554  08/31/2018
197623     5554  08/31/2018
197624     5554  08/31/2018

[197625 rows x 2 columns]

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes

In [ ]:
#Your code here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.